<!--
    Questo file fa parte del progetto Sistema di Gestione Ticket.
    Distribuito sotto la Licenza MIT.
    Vedi il file LICENSE nel root del progetto per maggiori dettagli.
-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Errore Disattivazione</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card border-danger mb-3">
            <div class="card-header bg-danger text-white">
                <h4 class="card-title">Impossibile Disattivare operatore</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Non puoi disattivare il tuo account perché hai ancora ticket pendenti, che sono in corso o da fare. 
                    Per favore, completa o riassegna i ticket prima di procedere.
                </p>
                <div class="mt-4">
                    <a th:href="@{/operatore/profilo}" class="btn btn-success">Torna al Profilo</a>
                    <a th:href="@{/operatore/operatoreTicketList}" class="btn btn-secondary">Visualizza i tuoi Ticket</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
